body {
    font-family: "Segoe UI", Arial, sans-serif;
    background: #fff5f9;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #ff66b2;
}

h2,
h3 {
    color: #b03060;
}

nav {
    background: linear-gradient(
        90deg,
        #ff80bf,
        #ff66b2
    );

    padding: 15px;
    border-radius: 12px;
    text-align: center;
    margin-bottom: 25px;
}

nav a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 0 12px;
}

nav a:hover {
    color: #ffe6f2;
}

.dashboard-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.card {
    background: white;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(214, 51, 132, 0.15);
    border-top: 5px solid #ff66b2;
}

.card h2 {
    color: #b03060;
}

.card p {
    color: #ff66b2;
    font-size: 32px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    max-width: 500px;
    padding: 12px;
    border: 2px solid #ffc0cb;
    border-radius: 10px;
    box-sizing: border-box;
    background: white;
}

input:focus,
select:focus {
    outline: none;
    border-color: #d63384;
}

button {
    background: linear-gradient(
        90deg,
        #ff80bf,
        #ff66b2
    );

    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.9;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 12px;
    overflow: hidden;
}

th {
    background: #d63384;
    color: white;
    padding: 12px;
}

td {
    padding: 10px;
    border: 1px solid #f0d6e2;
}

.invoice {
    background: white;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 4px 12px rgba(214, 51, 132, 0.15);
}

hr {
    border: none;
    height: 2px;
    background: #ffd1e3;
}

@media (max-width: 900px) {

    .dashboard-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}

@media (max-width: 600px) {

    .dashboard-grid {
        grid-template-columns: 1fr;
    }

}
.hero {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.hero img {
    width: 120px;
    margin-bottom: 10px;
}

.hero h2 {
    color: #920d4f;
}

.hero p {
    color: #666;
    font-size: 16px;
}